<div class="container" id="left">
  <div class="container__inner container__inner--left">
    <div class="box" id="box-1">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
    <div class="box" id="box-2">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
    <div class="box" id="box-3">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
  </div>
  <div class="container__inner container__inner--center">
    <div class="box" id="box-1">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
    <div class="box" id="box-2">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
    <div class="box" id="box-3">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
  </div>
  <div class="container__inner container__inner--right">
    <div class="box" id="box-1">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
    <div class="box" id="box-2">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
    <div class="box" id="box-3">
      <h2 class="box__title">
        Box 1 Title
      </h2>
      <div class="box__button">
        Button Text
      </div>
    </div>
  </div>
</div>
